@import "../css/common.less";

/* global display classes */
.hidden{
	display: none;
}
 /* Page Layout Styles */

#articlesDIV{
	padding-left: 70px;
}

#navSidebar{
	position: fixed;
	top: 45px;
	left: -5px;
	z-index: 5;
}

#socialSidebar, #navSidebar, #articlesDIV{
	margin-top: 10px;		
	border: 0px;
}

div.twitter, #tagsDIV, #articlesDIV DIV.article{
	.box-shadow;
	border-radius: 6px;
}

/* Social Sidebar sub-styles */
div.twitter {
	margin-bottom: 1em;
}

#tweets, #twitFeed{

}

#toolbar button{
	z-index: 1;
}

/* navSidebar sub-styles */

#tagsDIV{	
	padding: 5px;
	background-image:  -webkit-linear-gradient(top,#fff,#f2f4f2);
	position: absolute;
	.box-shadow;
	left: 40px;
	top: 0px;
}

/* formatting styles */

#ads h2 {
	text-shadow: 0px 1px #FFF;
	text-align: center;
	font-family: sans-serif;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
}

/* border Classes */
.borderRed{
	border-color: red;
}

.borderGreen{
	border-color: green;
}

.borderBlue{
 	border-color: blue;
}

.border1px{
	border-width: 1px;
}
.border2px{
	border-width: 2px;
}
.border3px{
	border-width: 3px;
}

.borderSolid{
	border-style: solid;
}

.borderDashed{
	border-style: dashed;
}

#toolbar.in{
	top: 295px;
}

@media (max-width: 767px){
	#articlesDIV{
		padding-left: 15px;
	}
	
	#tagsDIV{
		/* right: 10px; */
	}
	
	#socialSidebar{
		padding-left: 15px;
	}
	
	div.article{
		margin-right: -10px !important;
	}
	
	#toolbar{
		top: 24px;
	}
}