#stravaWidgetDIV iframe:first-child{
	margin: 0 1em 0 0;	
}

#stravaWidgetDIV iframe{
	float: left;
	position: relative;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
}

h2{
	margin-bottom: 20px;
}

#stravaSocialDIV{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	height: 650px;
	text-align: center;
	width: 645px;

}

#socialDIV div{
	float: left;
}
#socialDIV{
	width: 100%;
	height: 45px;
}

