<h2>Image Gallery</h2>

<label>Filter
	<select class="filter">
		<option data-field="" value="all">Show All</option>
		<option data-field="showOnHomePage" value="showOnHomePage">Carousel - Home Page</option>
		<option data-field="showInGallery" value="showInGallery">Photos Page</option>
		<option data-field="title" value="title">Has Title</option>
		<option data-field="caption" value="caption">Has Caption</option>
		<option data-field="isSponsor" value="isSponsor">Is Sponsor</option>
	</select>
</label>
<ul class="gallery">
	{{#each this}}
	<li class="well span2 pull-left preview" id="img{{this.id}}">		
		<div class="imgContainer">
			<img src="{{this.url}}" class="preview"/>
		</div>		
		<p><label>Upload Date:</label> {{this.createdDate}}</p>
		<p><label>Uploaded By:</label> {{this.createdBy.email}}</p>
		<p><a href="{{this.url}}" target="_blank">Image Url</a></p>
		<hr/>
		<label class="checkbox">
			<input type="checkbox" data-id="{{this.id}}" data-field="showOnHomePage" class="attribute" {{#if this.showOnHomePage}}checked="checked"{{/if}} /> Use on Home Screen
		</label>
		<label class="checkbox">
			<input type="checkbox" data-id="{{this.id}}" data-field="showInGallery" class="attribute" {{#if this.showInGallery}}checked="checked"{{/if}} /> Show on Photos Page
		</label>
		
		<label class="checkbox">
			<input type="checkbox" data-id="{{this.id}}" data-field="isSponsor" class="attribute" {{#if this.isSponsor}}checked="checked"{{/if}} /> Sponsor Logo
		</label>
		
		<input type="text" data-field="hyperlink" data-id="{{this.id}}" class="attribute" placeholder="Hyperlink" {{#if this.hyperlink}}value="{{this.hyperlink}}"{{/if}} />
		
		<input type="text" data-field="title" data-id="{{this.id}}" class="attribute" placeholder="Title" {{#if this.title}}value="{{this.title}}"{{/if}} />
		
		{{#if this.caption}}
			<textarea class="attribute" data-id="{{this.id}}" data-field="caption" placeholder="Image Caption">{{this.caption}}</textarea>
		{{else}}
			<textarea class="attribute" data-id="{{this.id}}" data-field="caption" placeholder="Image Caption"></textarea>
		{{/if}}		
		<div class="actions">	
			<button class="btn delete btn-danger" data-id="{{this.id}}"><i class="icon-trash icon-white"></i></button>			
		</div>
		<div class="alert fade">Success</div>
	</li>
	{{/each}}
</ul>


<!-- IMG DATA FORMAT 

{
	"url":"http://127.0.0.1:8888/_ah/img/3sQzzwCB7fvF6aHMkmVnqQ",
	"showOnHomePage":false,
	"blobKey":"3sQzzwCB7fvF6aHMkmVnqQ",
	"id":"1363307106049","createdDate":"Mar 14, 2013 6:25:05 PM",
	"updatedDate":"Mar 14, 2013 6:25:06 PM",
	"createdBy":{
		"name":"",
		"email":"test@example.com",
		"nickname":"test@example.com",
		"userId":"18580476422013912411",
		"federatedId":null,
		"authDomain":"gmail.com"
	},
	"updatedBy":{
		"name":"","email":"test@example.com","nickname":"test@example.com","userId":"18580476422013912411","federatedId":null,"authDomain":"gmail.com"
	}
}


 -->