<div class="article" id="{{id}}" style="cursor: default;">
	{{#if titleImageKey}}
		<img class="thumb article title" src="/serve?blobKey={{titleImageKey}}" />
	{{/if}}
	<h2>{{toHtml title}}</h2>
	
	<p class="date">	
		{{#if displayDate}}
			{{displayDate}}
		{{else}}
			{{createdDate}}
		{{/if}}
	</p>
	
	<p class="tag">{{tags}}</p>
	
	<div class="summary clearfix">
		{{toHtml summary}}
	</div>
	{{#if content}}
		<button class="expand btn clearfix">Show More</button>
		<div class="content hiding" style="height: 0px;">
			<div class="clearfix full main">
				{{toHtml content}}
				<p class="authorContact">
					Contact the <a href="mailto:{{author.email}}">author</a>.
				</p>
			</div>
			<div class="fb-comments clearfix" data-href="/articles/{{id}}" data-num-posts="7" data-width="400"></div>
		</div>
	{{else}}
		<div class="content nodisplay hiding" style="display: block; height: 0px;"></div>
		<div class="fb-comments clearfix" data-href="/articles/{{id}}" data-num-posts="7" data-width="400"></div>
	{{/if}}
			
	
	
	<div class="socialDIV">
		<div class="container-tweet">
			<a
				href="https://twitter.com/share"
				via="benzawacki'" class="twitter-share-button"
				data-url="http://www.benzawacki.com/writings?id={{id}}"
				data-text="{{title}}" 
				data-via="BenZawacki" data-size="medium" data-lang="en"
				data-counturl="http://www.benzawacki.com/writings?id={{id}}">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
		<div class="container-plusone">
			<div class="g-plusone" data-size="medium"
				data-href="/articles{{id}}"></div>
		</div>
		<div class="fb-like" data-href="/articles/{{id}}" data-send="true"
			data-layout="button_count" data-width="150" data-show-faces="false"></div>
	</div>
</div>


<!-- Article Data Format
{	
	"authorName":"test",
	"author":{
		"email":"test@example.com",
		"authDomain":"gmail.com",
		"userId":"18580476422013912411"
	},
	"displayDate":"",
	"title":"More Generics",
	"summary":"Article summary with generics",
	"content":"Article conent with lots of generics.",
	"tags":"",
	"titleImageKey":"Nc9H-9jkmIOJcjNpAwj0Sw",
	"id":1361859620764,
	"createdDate":"Feb 25, 2013 11:20:20 PM",
	"updatedDate":"Feb 25, 2013 11:20:40 PM",
	"createdBy":{
		"email":"test@example.com",
		"authDomain":"gmail.com",
		"userId":"18580476422013912411"
	},
	"updatedBy":{
		"email":"test@example.com",
		"authDomain":"gmail.com",
		"userId":"18580476422013912411"
	}
} -->
