


<!-- Article Data Format
{	
	"authorName":"test",
	"author":{
		"email":"test@example.com",
		"authDomain":"gmail.com",
		"userId":"18580476422013912411"
	},
	"displayDate":"",
	"title":"More Generics",
	"summary":"Article summary with generics",
	"content":"Article conent with lots of generics.",
	"tags":"",
	"titleImageKey":"Nc9H-9jkmIOJcjNpAwj0Sw",
	"id":1361859620764,
	"createdDate":"Feb 25, 2013 11:20:20 PM",
	"updatedDate":"Feb 25, 2013 11:20:40 PM",
	"createdBy":{
		"email":"test@example.com",
		"authDomain":"gmail.com",
		"userId":"18580476422013912411"
	},
	"updatedBy":{
		"email":"test@example.com",
		"authDomain":"gmail.com",
		"userId":"18580476422013912411"
	}
} -->