<div class="mainArticleSummary">	
	<h2><a href="/article.jsp?id={{articleId}}">{{title}}</a></h2> 
	
	{{#if titleImageKey}}
		<img class="thumb pull-left" alt="" src="/serve?blobKey={{titleImageKey}}"/>
	{{/if}}
	
	{{#if createdDate}}
		<p><b>Post Date:</b> {{createdDate}}</p>  
	{{/if}}
	
	{{#if location}}
		<p><b>Location:</b> <a href="http://maps.google.com/maps?q={{encodeUri location}}" target="_blank">{{location}}</a></p> 
	{{/if}}
	 
	{{#if tags}}
		<p><b>Tags:</b> <i>{{tags}}</i></p>	
	{{/if}}
	
	<p><b></b> {{toHtml summary}}</p>	
</div>

<!-- Data format:
{
	"title":"Test 2",
	"content":"blahb lah blah blah blah blah blah blah blah ",
	"summary":"blah blah blah blah ",
	"blobKey":"","tags":"tag1, tag2, tag3, tag4, tag5",
	"postDate":"2013-02-21","uploadDate":"Thu Feb 21 17:50:13 MST 2013",
	"index":"1",
	"shortUrl":"http://goo.gl/7Y4GQ",
	"location":"Denver, CO"
} -->
