<div id="{{selector}}" class="carousel slide mainCarousel">
	<ol class="carousel-indicators bottom">
		{{#each images}}
			<li data-target="{{selector}}" data-slide-to="{{@index}}" class=""></li>
		{{/each}}
	</ol>
	<div class="carousel-inner">
		{{#each images}}
			<div class="item">
				<img src="{{url}}" alt="{{title}}">
				{{#if caption}}
					<div class="carousel-caption">
						<div class="container">
							<h1>{{title}}</h1>
							<p class="lead">{{caption}}</p>							
						</div>
					</div>
				{{else}}
					{{#if title}}
					<div class="carousel-caption">
						<div class="container">
							<h1>{{title}}</h1>
						</div>
					</div>
					{{/if}}
				{{/if}}
				
			</div>
		{{/each}}
	</div>
	<a class="left carousel-control" href="{{selector}}" data-slide="prev">&lsaquo;</a>
   	<a class="right carousel-control" href="{{selector}}" data-slide="next">&rsaquo;</a>
</div>