#map_canvas{
	display: inline;
	position: ;
	width: 100%;
	height: 50%;
	margin-top: 20px;
	margin-bottom: 20px;	
}
div.datastore {
	display:none;	
}

div.dataEntry{
	margin-top: 10px;
}

.datastore blockquote {
	padding: 0 0 1em 1em;
	margin: 0 0 0 0;	
}

.datastore p {
	padding: 0 0 0 0;
	margin: 0 0 0 0;	
}

.deleteButton{
	
}

.editButton{
	
}

#toggle-map{
	width: 150px;
}

#create-race{
	width: 150px;
}

#addRaceDIV {
	display: inline;
	margin: 5px;
	padding: 5px;
	border: 1px solid black;
}


label, input { 
	display:block;
}

div.controls input{
	margin-bottom: 9px;
}
.readonly{
	background: lightgrey;
	display: ;	
}

fieldset { 
	padding:0; border:0; margin-top:25px;
}
h1 { 
	font-size: 1.2em; margin: .6em 0; 
}


#displayDataDIV table { 
	margin: 1em 0; border-collapse: collapse; width: 100%; font-size: 14; 
}
#displayDataDIV table td, #displayDataDIV table th {
	 border: 1px solid #eee; padding: .6em 10px; text-align: left; 
}
.ui-dialog .ui-state-error { 
	padding: .3em; 
}
.validateTips { 
	border: 1px solid transparent; padding: 0.3em; 
}

div.infowindow{
	width: 100%;
	font-size: 12;	
}
.infowindow h1 {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font-size: 20;
	width: 100%;
	text-align: center;
}
.infowindow div.center{
	width: 100%;
	text-align: center;	
}
.infowindow address{
	display: inline;
	margin: 0 0 0 0;
	padding: 0 0 0 0;	
}

