<div class="">
	<div class="raceDetails">
		<p> 
			<b>{{date}} - 
			{{#if url}}
				<a href="{{url}}" target="_blank">{{name}}</a>
			{{else}}
				{{name}}
			{{/if}}
			</b>  
		</p>
		
		<p>
			{{city}}{{#if state}},&nbsp;{{state}}{{/if}},&nbsp;{{country}}
		</p>	
	</div>
	
	<div class="raceType">
		{{#if description}}
		<p>{{description}}</p>	
		{{/if}}
		{{#if raceType}}
			<p>
				{{raceType}} {{#if raceLength}}&nbsp;-&nbsp;{{raceLength}}{{/if}}
			</p>
		{{/if}}
	</div>
	
	<div class="raceActions top-right btn-group btn-group-vertical">
		<button class="btn btn-danger delete"><i class="icon-trash icon-white"></i></button>
		<a href="{{editDialogId}}" class="editRace btn" role="button" id="editRace{{id}}" data-toggle="modal"><i class="icon-pencil"></i></a>
	</div>
</div>